NEXT_PUBLIC_SUPABASE_URL=https://jckaxtwxrknezblvwxdc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impja2F4dHd4cmtuZXpibHZ3eGRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMjk4MTQsImV4cCI6MjA4NzcwNTgxNH0.LXLFWnYi7a-rXn02y1pBgS0LeuazftZV3x8iRxudqfk
SUPABASE_DB_PASSWORD=IronCanvasDB

MAILTRAP_TOKEN=ae84c4031ba356356839791e972a11df

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=a995ea0f143d44
SMTP_PASSWORD=8312db395f26a9